{% extends 'dashboardMenu.html.twig' %}

{% block title %}Leads Interaction - Smarter Payouts{% endblock %}

{% block content %}
    <div class="col-12 p-0">
        <div class="card custom-dashboard-card">
            <div class="card-body">
                <h5 class="card-title text-center custom-border-bottom">Generic Tags</h5>
                <form method="post">
                    <div class="row p-2">
                        <div class="col-md-8">
                            <textarea readonly rows="2" class="form-control">I sent you a text Messages, don’t know if received it. It’s Marc with Capital Now, I have a positive important update to share with you.</textarea>
                        </div>
                        <div class="col-md-3 pt-3">
                            <input type="file" value="Upload file">
                        </div>
                        <div class="col-md-1 pt-3">
                            <a href="" title="Upload"><i
                                        class="fa fa-upload m-1 bg-outline-dark"></i></a>
                        </div>
                    </div>
                </form>
                <form method="post">
                    <div class="row p-2">
                        <div class="col-md-8">
                            <textarea readonly rows="2" class="form-control">You are still eligible for our Hardship Program based on the region you reside. Would you like to see how much you might be entitled to</textarea>
                        </div>
                        <div class="col-md-3 pt-3">
                            <input type="file" value="Upload file">
                        </div>
                        <div class="col-md-1 pt-3">
                            <a href="" title="Re-upload"><i
                                        class="fa fa-upload m-1 bg-outline-theme"></i></a>
                        </div>
                    </div>
                </form>
                <form method="post">
                    <div class="row p-2">
                        <div class="col-md-8">
                            <textarea readonly rows="3" class="form-control">My office number is 954-852-8547 and my direct number is 954-854-8535. I am available Monday-Friday between 	9am-6pm Est”.  Please feel free to contact me if you have any question. “I am here to assist you!</textarea>
                        </div>
                        <div class="col-md-3 pt-4">
                            <input type="file" value="Upload file">
                        </div>
                        <div class="col-md-1 pt-3">
                            <a href="" title="Upload"><i
                                        class="fa fa-upload m-1 bg-outline-dark"></i></a>
                        </div>
                    </div>
                </form>
                <form method="post">
                    <div class="row p-2">
                        <div class="col-md-8">
                            <textarea readonly rows="2" class="form-control">Qualified recipient can get cash advance relief up to $1500.00 within 48 hours. If you are Interested let me know, I   am here to assist you!</textarea>
                        </div>
                        <div class="col-md-3 pt-3">
                            <input type="file" value="Upload file">
                        </div>
                        <div class="col-md-1 pt-3">
                            <a href="" title="Re-upload"><i
                                        class="fa fa-upload m-1 bg-outline-theme"></i></a>
                        </div>
                    </div>
                </form>
                <form method="post">
                    <div class="row p-2">
                        <div class="col-md-8">
                            <textarea readonly rows="3" class="form-control">As an entitled recipient you can exchange as low as $500/month. To buy a house, purchase car, payoff credit cards high interest or even start your own business. Let me know.</textarea>
                        </div>
                        <div class="col-md-3 pt-4">
                            <input type="file" value="Upload file">
                        </div>
                        <div class="col-md-1 pt-3">
                            <a href="" title="Upload"><i
                                        class="fa fa-upload m-1 bg-outline-dark"></i></a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-12 p-0">
        <div class="card custom-dashboard-card">
            <div class="card-body">
                <h5 class="custom-border-bottom text-center">Client Name Tags</h5>
                <form method="post">
                    <div class="col-lg-6 p-2 pt-3 pb-3">
                        <select class="form-control">
                            <option>option 1</option>
                            <option>option 2</option>
                            <option>option 3</option>
                            <option>option 4</option>
                        </select>
                    </div>
                    <div class="row p-2">
                        <div class="col-md-8">
                            <textarea readonly rows="1" class="form-control">Hey -------</textarea>
                        </div>
                        <div class="col-md-3 pt-1">
                            <input type="file" value="Upload file">
                        </div>
                        <div class="col-md-1">
                            <a href="" title="Upload"><i
                                        class="fa fa-upload m-1 bg-outline-dark"></i></a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-12 p-0">
        <div class="card custom-dashboard-card">
            <div class="card-body">
                <h5 class="custom-border-bottom text-center">Insurance Company Tags</h5>
                <form method="post">
                    <div class="col-lg-6 p-2 pt-3 pb-3">
                        <select class="form-control">
                            <option>option 1</option>
                            <option>option 2</option>
                            <option>option 3</option>
                            <option>option 4</option>
                        </select>
                    </div>
                    <div class="row p-2">
                        <div class="col-md-8">
                            <textarea readonly rows="2" class="form-control">Hey -------</textarea>
                        </div>
                        <div class="col-md-3 pt-3">
                            <input type="file" value="Upload file">
                        </div>
                        <div class="col-md-1 pt-1">
                            <a href="" title="Upload"><i
                                        class="fa fa-upload m-1 bg-outline-dark"></i></a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}