{% extends 'base.html.twig' %}

{% block body %}

<div class="bg-success h-100" style="size: 21cm 29.7cm; margin: 30mm 45mm 30mm 45mm;">
    <div class="row">
        <div class="col-md-4 bg-info border p-0" style="height: 29.7cm">
            <div class="bg-danger p-0" style="height: 7cm">

            </div>
            <div class="bg-success p-0" style="height: 22.7cm">

            </div>
        </div>
        <div class="col-md-1 bg-danger border">
            qwewqe
        </div>
        <div class="col-md-7 bg-light border">
            qweqwe
        </div>
    </div>
</div>
{% endblock %}
