<!DOCTYPE html>
<html style="margin: 0px; padding:0px;">

<head>
    <title>Contact Us - Smarter Payouts</title>
</head>

<body bgcolor="#f1f6f9">
<table width="100%" cellspacing="0" cellpadding="0">
    <tr>
        <td>
            Name: {{ replacements['name'] }}
        </td><br>
        <td>
            Email: {{ replacements['email'] }}
        </td><br>
        <td>
            Contact: {{ replacements['contact'] }}
        </td><br>
        <td>
            Message: {{ replacements['message'] }}
        </td>
    </tr>
</table>
</body>

</html>
