{% extends 'client/websiteLayout.html.twig' %}

{% block title %}Job Details - Smarter Payouts{% endblock %}

{% block content %}
    <div class="container-fluid p-0">
        <section id="about-us-details">
            <div class="mt-5 pl-lg-5 pr-lg-5 pl-3 pr-3">
                <div class="pl-md-5 pr-md-5">
                    <h6 class="text-center heading-primary-tagline pt-5">Our</h6>
                    <h1 class="text-center primary-heading p-5 p-md-0 p-lg-0 p-xl-0">Best Team</h1>
                    <p class="offset-lg-3 col-lg-6 offset-xl-4 col-xl-4 text-center heading-secondary-tagline">Feel free
                        to
                        contact us any time.we can Feel free to contact us any time. We will get back to you as soon as
                        we
                        can.</p>
                    <div class="col-12 pl-0 pr-0">
                        <div class="card-group d-flex justify-content-between flex-wrap">
                            <div class="col-xl-3 col-lg-4 col-md-6 col-12 p-0">
                                <div class="card profile-card">
                                    <div class="img-container d-flex justify-content-center">
                                        <img class="card-img-top" src="{{ asset ('resources/images/user.png') }}"
                                             alt="Card image cap">
                                    </div>
                                    <div class="custom-card-title">
                                        <h5 class="card-title p-0 m-0">John Smith</h5>
                                        <h6 class="heading-secondary-tagline p-0 m-0">Content Writer</h6>
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text">This is a wider card with supporting text below as a
                                            natural
                                            lead-in to additional content. This content is a little bit longer.</p>
                                    </div>
                                    <button class="btn btn-outline-custom-default btn-success-custom p-1 profile-card-button mt-3">
                                        Profile
                                    </button>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-6 col-12 p-0">
                                <div class="card profile-card">
                                    <div class="img-container d-flex justify-content-center">
                                        <img class="card-img-top" src="{{ asset ('resources/images/user.png') }}"
                                             alt="Card image cap">
                                    </div>
                                    <div class="custom-card-title">
                                        <h5 class="card-title p-0 m-0">John Smith</h5>
                                        <h6 class="heading-secondary-tagline p-0 m-0">Content Writer</h6>
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text">This is a wider card with supporting text below as a
                                            natural
                                            lead-in to additional content. This content is a little bit longer.</p>
                                    </div>
                                    <button class="btn btn-outline-custom-default btn-success-custom p-1 profile-card-button mt-3">
                                        Profile
                                    </button>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-6 col-12 p-0">
                                <div class="card profile-card">
                                    <div class="img-container d-flex justify-content-center">
                                        <img class="card-img-top" src="{{ asset ('resources/images/user.png') }}"
                                             alt="Card image cap">
                                    </div>
                                    <div class="custom-card-title">
                                        <h5 class="card-title p-0 m-0">John Smith</h5>
                                        <h6 class="heading-secondary-tagline p-0 m-0">Content Writer</h6>
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text">This is a wider card with supporting text below as a
                                            natural
                                            lead-in to additional content. This content is a little bit longer.</p>
                                    </div>
                                    <button class="btn btn-outline-custom-default btn-success-custom p-1 profile-card-button mt-3">
                                        Profile
                                    </button>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-4 col-md-6 col-12 p-0">
                                <div class="card profile-card">
                                    <div class="img-container d-flex justify-content-center">
                                        <img class="card-img-top" src="{{ asset ('resources/images/user.png') }}"
                                             alt="Card image cap">
                                    </div>
                                    <div class="custom-card-title">
                                        <h5 class="card-title p-0 m-0">John Smith</h5>
                                        <h6 class="heading-secondary-tagline p-0 m-0">Content Writer</h6>
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text">This is a wider card with supporting text below as a
                                            natural
                                            lead-in to additional content. This content is a little bit longer.</p>
                                    </div>
                                    <button class="btn btn-outline-custom-default btn-success-custom p-1 profile-card-button mt-3">
                                        Profile
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script>
        $('#about-us-nav-item').addClass('active');
    </script>
{% endblock %}