{% extends 'client/websiteLayout.html.twig' %}

{% block title %}Job Details - Smarter Payouts{% endblock %}

{% block content %}
    <div class="container-fluid mt-5 p-0 pl-5 pr-5">
        <section id="jobDetails" class="pl-5 pr-5">
            <h1 class="primary-heading text-center text-lg-left pt-5">Job Details</h1>
            <div class="col-12 pl-0 pr-0">
                <div class="row">
                    <div class="col-lg-8 col-xl-9 job-info">
                        <div class="pt-2">
                            <p><b>Job Title: </b>Content Writer</p>
                        </div>
                        <div class="pt-2">
                            <p><b>Job ID: </b>CW005</p>
                        </div>
                        <div class="pt-2">
                            <p><b>Qualification: </b>BS(CS)/BS(IT)</p>
                        </div>
                        <div class="pt-2">
                            <p><b>Experience: </b>Min 3 years</p>
                        </div>

                        <h4 class="pt-4">Description</h4>
                        <h6 class="col-lg-7 pl-0 heading-secondary-tagline">What is Lorem Ipsum Lorem Ipsum is simply
                            dummy text
                            of the printing and typesetting industry Lorem Ipsum has been the industry's standard dummy
                            text
                            ever since the 1500s when an unknown printer took a galley of type and scrambled it to make
                            a type
                            specimen book.</h6>
                        <h4 class="pt-4">Requirements</h4>
                        <h6 class="col-lg-7 pl-0 heading-secondary-tagline">What is Lorem Ipsum Lorem Ipsum is simply
                            dummy text
                            of the printing and typesetting industry Lorem Ipsum has been the industry's standard dummy
                            text
                            ever since the 1500s when an unknown printer took a galley of type and scrambled it to make
                            a type
                            specimen book.</h6>
                        <div class="d-flex justify-content-center justify-content-lg-start justify-content-xl-start col-12">
                            <button class="btn btn-outline-custom-default btn-success-custom float-lg-left mt-5">Apply
                                Now
                            </button>
                        </div>
                    </div>
                    <div class="col-lg-4 col-xl-3 flex-wrap pt-5 pt-lg-0">
                        <div class="row">
                            <div class="col-lg-12 col-xl-10 col-md-6">
                                <div class="career-card">
                                    <h4>Content Writer</h4>
                                    <h6 class="heading-secondary-tagline">Lahore, Pakistan</h6>
                                    <div class="card-body custom-card-body">
                                        <a href="">View & Apply</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-xl-10 col-md-6">
                                <div class="career-card">
                                    <h4>Content Writer</h4>
                                    <h6 class="heading-secondary-tagline">Lahore, Pakistan</h6>
                                    <div class="card-body custom-card-body">
                                        <a href="">View & Apply</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-xl-10 col-md-6">
                                <div class="career-card">
                                    <h4>Content Writer</h4>
                                    <h6 class="heading-secondary-tagline">Lahore, Pakistan</h6>
                                    <div class="card-body custom-card-body">
                                        <a href="">View & Apply</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-xl-10 col-md-6">
                                <div class="career-card">
                                    <h4>Content Writer</h4>
                                    <h6 class="heading-secondary-tagline">Lahore, Pakistan</h6>
                                    <div class="card-body custom-card-body">
                                        <a href="">View & Apply</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}