{% extends 'client/base.html.twig' %}
{% block title %}Who We Are - Smarter Payouts{% endblock %}
{% block body %}
    <div class="main-content">

        <img class="logo pt-3 mt-0" src="{{ asset ('resources/images/logo.png') }}">
        <div class="container p-0">
            <section class="d-flex align-items-center">
                <div class="col-12">
                    <div class="pt-5">
                        <h1 class="primary-heading text-center">Who we are?</h1>
                        <p class="pt-3">Our “self-quoting” platform provides an upfront cash offer in exchange for a
                            portion
                            of
                            your future structured settlement, annuity, or lottery payments. Our patent pending software
                            gives
                            you a 100% guarantee for <b>upfront quotes , no obligation deal</b> and <b>no sales
                                pressure</b>
                            online experience.</p>
                        <p class="pt-3">Our mission is to give all our clients the confidence and flexibility to make
                            their
                            own
                            financial decisions, on their own terms and at their own pace. We stand behind each of our
                            offers
                            with a <b>30-day free-to-view guarantee.</b></p>
                        <h6 class="text-left font-weight-bold">Here are the 3 most non-obvious reasons why we provide
                            upfront
                            pricing to all our customers</h6>

                        <h6 class="font-weight-bold pb-1">Reason 1:</h6>
                        <p>Provide all our clients with the same high level of confidence and trust.</p>
                        <p>By publishing your payments true value upfront, we eliminate the guesswork for you. Thus, our
                            customers never feel tricked, short changed or taken advantage off. We strongly believe that
                            during
                            an honest business transaction all parties should benefit financially. Nobody should be left
                            holding
                            the short end of the stick. That’s why we developed the industry’s first patent pending
                            software
                            that can create customized offers for all our clients based on their unique financial
                            needs.</p>

                        <h6 class="font-weight-bold pb-1">Reason 2:</h6>
                        <p>Only you can decide what’s best for you and your family’s long term financial interest.</p>
                        <p>Let’s be honest here, only you know how this transaction can positively change your
                            situation.
                            Our
                            patent pending platform enables our customers to create offers based on their financial
                            needs.
                            They
                            can then decide if they would like to exchange a small portion or a large portion of their
                            future
                            payments for cash now. This generates customized financial solutions for our clients’ unique
                            financial challenges. </p>

                        <h6 class="font-weight-bold pb-1">Reason 3:</h6>
                        <p>We have nothing to hide.</p>
                        <p>Our mission is to be upfront 100% of the time and we don’t believe in making promises that we
                            can’t
                            keep. All our qualified clients will get their published offers with no if’s and no but’s.
                            You
                            will
                            never feel pressured nor obligated to work with us. We want you to be 100% ready, 100%
                            confident
                            and
                            100% onboard. We understand this is a big decision and we are here to assist you in making
                            this
                            experience as positive as we can.</p>
                    </div>
                    <div class="pt-5">
                        <h6 class="font-weight-bold">Here are 3 most obvious reasons why some companies don’t share the
                            true
                            value of your future payments upfront:</h6>

                        <h6 class="font-weight-bold">Reason 1:</h6>
                        <p>Test just how desperate, you are for the “CASH NOW” option</p>
                        <p>That’s why you should never call a settlement company. Typically, a sleezy salesperson will
                            answer your call and will pretend to become your best friend. These salespeople are trying
                            to
                            understand your financial situation. Once they realize you are desperate for cash now, these
                            greedy sales people will try to get as much profit out of the deal. This means less money
                            for
                            you and more commissions for them.</p>

                        <h6 class="font-weight-bold">Reason 2:</h6>
                        <p>Trick you into thinking that you are getting a deal</p>
                        <p> Can you really negotiate a horrible deal down to bad deal? The answer is YES. It’s a common
                            sales trick to create an illusion that you are getting the best deal by starting with really
                            low
                            expectations i.e. the worst case scenario. Disreputable sales people can easily convince a
                            customer that they are negotiating on their behalf. The will typically start off with a
                            low-ball
                            offer and then bump it up by a few thousand dollars more. This way you will feel that you
                            are
                            getting a special deal and that you are walking away with the best cash offer, whereas in
                            fact
                            you could’ve gotten a lot more.</p>

                        <h6 class="font-weight-bold">Reason 3:</h6>
                        <p>Make false promises that they can’t keep or publish online.</p>
                        <p> Sleezy Salesmen will make promises and false statements. You’ll often her him say “I will
                            get
                            you the most money ever” or “I work for you, not the financial facility” or “This is an easy
                            and
                            quick process”, “I am a direct lender”, “We work alongside your insurance company”, etc.
                            etc.
                            etc. All this is done to disguise the sales process and distract you from figuring out the
                            true
                            value of your payments.</p>
                    </div>
                    <div class="pt-5 pb-5">
                        <h6 class="font-weight-bold">In conclusion</h6>
                        <p>We are a new company with a vision to change the way structured settlement, annuity and
                            lottery
                            cash outs are paid to individuals who may or may not have a financial hardship. We are on a
                            mission to bring transparency and accountability to this industry. All we ask is that you
                            give
                            us an opportunity to work with you so we could show you the difference between the OLD way
                            versus the SMART way.</p>
                        <p>Our patent pending process is designed to identify 25 lifestyle-based indicators that can
                            calculate life expectancy. This process provides our customers with the logic as to how we
                            calculate their payouts. No two cash payouts are the same. </p>
                        <p>We also take pride in offering the industry first beneficiary benefit program for all our
                            qualified clients. This no-out-of-pocket benefit protects all our clients’ listed
                            beneficiaries.
                            In the event our client was to prematurely pass way, their families are covered.</p>
                        <p>Get the Cash now and provide your family the financial protection they deserve!</p>
                        <p>Smarter Payouts fulfilling your financial needs one payout at a time!</p>
                        <p>The Smart Way!</p>
                    </div>
                </div>
            </section>
        </div>
    </div>

{% endblock %}