{% extends 'client/base.html.twig' %}

{% block body %}
    <div class="container-fluid p-0">
        <nav class="navbar smart-scroll navbar-expand-lg d-flex align-items-start mt-0 pt-0 pb-0 pr-0 pl-0">
            <a class="navbar-brand" href="{{ path("index") }}">
                <img class="logo" src="{{ asset ('resources/images/logo.png') }}">
            </a>
            <button class="navbar-toggler navbar-toggler-first" type="button">
                <span class="fa fa-bars"></span>
            </button>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-item nav-item-separator">
                        <a class="nav-link" data-url="home" href="/#home">Home</a>
                    </li>
                    <li class="nav-item nav-item-separator">
                        <a class="nav-link" id="calculate-offer" data-url="calculate" href="/#calculate">Calculate Offer</a>
                    </li>
                    <li class="nav-item nav-item-separator" id="about-us-nav-item">
                        <a class="nav-link" data-url="about-us" href="/#about-us">About Us</a>
                    </li>
                    <li class="nav-item nav-item-separator" id="career-nav-item">
                        <a class="nav-link" data-url="career" href="/#career">Career</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-url="contact" href="/#contact">Contact</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    {% block content %}

    {% endblock %}
{% endblock %}


