{% extends 'admin/letter/pdf.base.html.twig' %}

{% block body %}
    <div style="margin-top: 200px">
        <div style="width: 170px; display: inline-block; margin-top: 0px;">
            <div>
                <div class="text-center">
                    <h2>Scott Rivers</h2>
                    <h4>Vice President / Director of Sales</h4>
                </div>
                <div class="text-left" style="margin-top: 30px">
                    <b class="contact-color">CONTACT</b>
                    <hr class="hr">
                    <label>PHONE</label>
                    <p class="contact-color">(718)-682-8212<br>
                        (718)-682-8212</p>
                    <label>WEBSITE</label> <br>
                    <a class="contact-color cursor" href="www.capitalnow-inc.com">www.capitalnow-inc.com</a>
                    <br>
                    <br>
                    <label>EMAIL</label>
                    <p class="contact-color">srivers@settlement-network.com</p>

                </div>
            </div>
        </div>
        <div style="width: 470px; display: inline-block; padding-left: 50px;">
            <div>
                <label style="margin-left: 370px"> <b> Quote ID:</b> <span>00001</span></label>
                <div style="padding-top: 30px">
                    <br><label>John Miller</label>
                    <br><label>Ali View Garden</label>
                    <br><label>Lahore, Punjab 54800</label>
                </div>
                <div style="padding-top: 30px">
                    <br>
                    <p><b>Dear John,</b></p>
                    <p>It’s <b>Scott</b> at Capital Now. Fortunately, a portion of your life payments are eligible
                        for our Hardship Program.</p>
                    <p>A portion of your life payments with <b>Metlife</b> are eligible for an exchange.</p>
                    <p>Pre-qualified clients in fair health can exchange as low as $500/month.</p>
                    <p>You could buy a house, car, or pay off credit card debt.</p>
                </div>
                <div style="padding-top: 10px">
                    <ul>
                        <li><b>A payout $275,250.00</b></li>
                        <li><b>Beneficiary protection for $500,000.00</b></li>
                        <li><b>Funded in less than 45 days</b></li>
                        <li><b>Cash advance for $5000.00</b></li>
                    </ul>
                </div>

                <div style="padding-top: 30px">
                    <p>If you think you could take advantage of our hardship program. Please contact us at your
                        earliest convenience. We are here to assist you.</p>
                </div>
                <div style="padding-top: 30px">
                    <p>Sincerely</p>
                </div>
                <div style="padding-top: 0px">
                    <b>Scott Rivers</b>
                </div>
                <div style="padding-top: 50px">
                    <br><small>*Upfront payout is calculated at discounted rate which are approved through a court
                        order.</small>
                    <br><small> **Funding timelines are predicated based on court dates availability in client’s
                        states.</small>
                    <br><small>*** Cash advances are provided, once a benefit letter and a contract to initiate the
                        transfer
                        process is received, completed and signed. </small>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
