{% extends 'base.html.twig' %}

{% block title %}Reset Password!{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center align-items-center login">
        <div class="col-md-8 rounded p-5">
            <div class="row">
                <div class="col-md-6 d-flex justify-content-center align-items-center custom-border-right">
                    <img class="rounded img-fluid"
                         alt="Logo" src="{{ asset ('resources/images/logo.png') }}">
                </div>
                <div class="col-md-6 mt-5">
                    <div class="col-md-12 mt-5 pb-5 alert alert-success">
                        Please check your Email and Click on the provided link to reset your Password.
                    </div>

                    <div class="form-row col-md-12 mt-5 pb-3">
                        <a href="{{ path('forgot_password') }}"
                           class="form-control btn btn-outline-success custom-button custom-btn-success"
                           title="Back to Login">Resend Email
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
