{% extends 'base.html.twig' %}

{% block title %}Reset Password!{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center align-items-center login">
        <div class="col-md-8 rounded p-5">
            <div class="row">
                <div class="col-md-6 d-flex justify-content-center align-items-center custom-border-right">
                    <img class="rounded img-fluid"
                         alt="Logo" src="{{ asset ('resources/images/logo.png') }}">
                </div>
                <div class="col-md-6 d-flex justify-content-center align-items-center">
                    <div class="alert alert-success">
                        Please check your Email and Click on the provided link to reset your Password.
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
