<!DOCTYPE html>
<html style="margin: 0px; padding:0px;">

<head>
    <title>Reset Password - Smarter Payouts</title>
</head>

<body bgcolor="#f1f6f9">
<table width="100%" cellspacing="0" cellpadding="0">
    <tr>
        <td bgcolor="#f7f7f7" align="center">
            <table width="600" border="0" cellspacing="0" cellpadding="0"
                   style="font-family:Arial, Helvetica, sans-serif; font-size:16px; color:#161616; line-height:28px;">
                <tr>
                    <!-- Top Margin -->
                    <td height="100">&nbsp;</td>
                </tr><!-- Top Margin -->

                <tr>
                    <td height="150" valign="middle" align="center">
                        <a href="https://smarterpayouts.com/">
                            <img alt="Smarter Payouts" src="{{asset ('resources/images/email-logo.png') }}">
                        </a>
                    </td>
                </tr>

                <!-- Main EDM -->
                <tr>
                    <td bgcolor="#ffffff">
                        <table width="600" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td height="5" bgcolor="#09b44d" colspan="3"></td>
                            </tr>

                            <tr>
                                <td>
                                    <table width="600" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td width="25"></td>
                                            <td width="550">
                                                <table width="550" border="0" cellspacing="0" cellpadding="0">
                                                    <tr>
                                                        <td height="30"></td>
                                                    </tr>
                                                    <tr>
                                                        <!-- Intro -->
                                                        <td style="padding:30px;" align="left">
                                                            <center>
                                                                <h1 style="color: #000000; margin-bottom: 35px; font-size: 25px;">Reset Your Password</h1>
                                                            </center>
                                                            <p class="font-weight-bold" style="color: #000000; margin-bottom: 25px;">
                                                                <strong>Hello xyz,</strong>
                                                            </p>
                                                            <p style="color: #000000; margin-bottom: 25px;">If you have lost your password or wish to reset it, click on the button below to get started.</p>

                                                            <a href="{{ app.request.server.get('BASE_PATH') ~  path('reset',  {
                                                                'userEmail' : replacements['userEmail'],
                                                                'resetPasswordToken' : replacements['resetPasswordToken'],
                                                                'expireDateTime' : replacements['expireDateTime']
                                                            }) }}"
                                                               style="background:#09b44d;
                                                               text-decoration:none !important;
                                                               font-weight:500;
                                                               color:#FFFFFF;text-transform:uppercase;
                                                               font-size:14px;
                                                               padding:10px 24px;
                                                               margin-left: 40%;">Reset Password</a>
                                                            <p style="color:#000000; margin-bottom: 25px;">If you did not request a password reset, you can safely ignore this email. Only a person with access to your email can reset your account password.</p>
                                                            <p style="color:#000000;">
                                                                For any questions and queries you may always contact us.
                                                                <br /><a href="" style="color: #356ba7; text-decoration: none;">Support@Smarterpayouts.com</a>
                                                            </p>
                                                        </td>
                                                    </tr><!-- Intro -->
                                                    <tr>
                                                        <td style="padding:30px;" align="left">
                                                            <p>
                                                                <strong>Thanks,</strong><br />
                                                                Smarter Payouts Support
                                                            </p>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td height="30"></td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td width="25"></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>

                            <tr>
                                <td height="5" bgcolor="#FBC233" colspan="3"></td>
                            </tr>

                        </table>
                    </td>
                </tr>
                <!-- Main EDM -->

                <tr>
                    <!-- Empty Space -->
                    <td height="30">&nbsp;</td>
                </tr><!-- Empty Space -->
                <tr>
                    <!-- Bottom Margin -->
                    <td height="100">&nbsp;</td>
                </tr><!-- Bottom Margin -->
            </table>
        </td>
    </tr>

</table>
</body>

</html>